*{
    
margin : 0;
padding : 0;
box-sizing: border-box;
font-family : '', sans-serif;

}



body{

background-image : url('file:///C:/Users/%EC%A2%85%EA%B6%8C/Downloads/d1d83b25b8f10016188bbf043a101b3c.jpg');
background-size: cover;
background-position: center;
backdrop-filter:blur(5px);
min-height: 100vh;
display:flex;
justify-content: center;
align-items: center;
}


.wrapper{
    position: relative;
    width: 400px;
    height: 400px;    
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    background: url('https://musicmeta-phinf.pstatic.net/album/001/779/1779662.jpg?type=r480Fll&v=20230331141925');
    background-size: cover;
    background-position: center;
}

.wrapper audio{
    width:100%;
    outline:none;
    position: fixed;
    display: flex;
    top: 410px;
    left: 0px;
    padding: 12px 42px;

}
